[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.8.2"
marshmallow = "==2.15.6"
factory-boy = "==2.11.1"
Django = "==2.1.2"

[requires]
python_version = "3.6"
