<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
      <div class="container">
      <div class="jumbotron">
      <h1>Urbvan</h1>
      <p class="lead">App Urbvan realizada en Django Framework.</p>
      <p><a href="https://github.com/oocampoTVP/django_tech_test" class="btn btn-primary btn-large">Project On Git &raquo;</a></p>
      </div>
      <div class="row">
          <div class="col-md-4">
              <h2>Usuarios</h2>
              <p>
                  Django gives you a powerful, patterns-based way to build dynamic websites that
                  enables a clean separation of concerns and gives you full control over markup
                  for enjoyable, agile development.
              </p>
              <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Ir a &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>Crear Usuarios</h2>
              <p>The Python Package Index is a repository of software for the Python programming language.</p>
              <p><a class="btn btn-default" href="https://pypi.org/">Ir a &raquo;</a></p>
          </div>
          <div class="col-md-4">
              <h2>Borrado Usuarios</h2>
              <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
              <p><a class="btn btn-default" href="http://azure.microsoft.com">Ir a &raquo;</a></p>
          </div>
      </div>
    </div>
  </body>
</html>
