<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Creación de Usuarios</title>
  </head>
  <body>
    <div class="container">
    <br><br>
    <h1>Creación de Usuarios</h1>
    <br>
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Aceptar">
    </form>
    </div>
  </body>
</html>
