{% extends 'base/layout_user.html' %}
{% block title %}Line{% endblock %}
{% block extracss %}
{% endblock %}
{% block content %}
<h1>Line</h1>

<form method="post"  class="form-horizontal" role="form" >
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group {{field.name}}">
            <div class="col-sm-4 col-md-4">
                <div class="general-label">{{ field.label }}
                {% if field.field.required %}
                    <b style="color: red;">*</b>
                {% endif %}
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
    <div class="flex-container">
        <div id="map"></div>
    </div>
    <div class="flex-container">
        <div class="login-input flex-container right-container">
            <div class="submit">
                <input type="submit" class="btn btn-success" value="Guardar">
                <a class="btn btn-info"  href="{% url 'lines:list' %}">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}